{{ form_ajax(__SELF__ ~ '::onCreateFeedback', { id: __SELF__.id, 'validate': true, 'flash': true, 'success': "this.reset();" }) }}

    <div class="alert alert-danger" data-validate-error>
        <p data-message></p>
    </div>

    <div class="form-group">
        {{ form_label('firstname', ('Firstname')) }}
        {{ form_text('firstname', '', { class: 'form-control' }) }}
    </div>

    <div class="form-group">
        {{ form_label('lastname', ('Lastname')) }}
        {{ form_text('lastname', '', { class: 'form-control' }) }}
    </div>

    <div class="form-group">
        {{ form_label('email', "Email") }}
        {{ form_email('email', '', { class: 'form-control' }) }}
    </div>

    <div class="form-group">
        {{ form_label('phone', "Phone") }}
        {{ form_text('phone', '', { class: 'form-control' }) }}
    </div>

    <div class="form-group">
        {{ form_label('message', "Message") }}
        {{ form_textarea('message', '', { class: 'form-control' }) }}
    </div>

    <div class="form-group">
        {{ form_label('agreement', 'Is agreement accepted') }}
        {{ form_checkbox('is_agreement_accepted', true, true) }}
    </div>

    {{ form_submit("Send", { class: 'btn btn-primary' }) }}

{{ form_close() }}
